body{
    margin:0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bar{
    height: 54px;
    display:inline-block ;
    width: auto;
    margin-bottom: 2px;
    font-size: 13px;
    padding: 0 5%;
}
.logo_img{
    width: 108px;
}
.logo{
    align-items: center;
    width: 117px;
    padding: 14px 10px;
    float: left;
}
.bar-text{
    width: auto;
    float:left;
    height: 54px;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 19px;
    padding-left: 10px;
}
li{
    display: inline-block;
    height: 20px;
    text-align: center;
    padding-right: 22px;
    vertical-align: center;
}
li a:hover{
    text-decoration: underline 1.5px;
    text-underline-offset: 4px;
    cursor: pointer;
}
.logo a{
    height: 23px;
}
.main-img{
    width: 100%;
}

.search-bar{
    float: right;
    display: flex;
    flex-direction: row;
}
.search-bar li{
    padding-right: 0;
}
.search-img{
    vertical-align: center;
    margin-top: 3px;

}
.img-block{
    margin-bottom: 48px;
}
.img{
    position: relative;
}
.img-text{
    height: 222px;
    width: 409px;
    vertical-align: center;
    position: absolute;
    top:178px;
    left:115px;
    margin-bottom: 1rem;
    color: #fff;
}
h1{
    font-size: 1.8125rem;
    text-align: left;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.2;
}
.img-text2 {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 24px;
}
.img-button{
    background-color:#0067b8;
    border-radius: 2px;
    display: inline-flex;
    width: auto;
    border: 2px solid transparent;
}
.button-link{
    color:white;
    font-weight: 600;
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
}
.button-link:hover{
    background: #005da6;
}
.row-images{
    margin:48px 0;
}
.rows{
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    display: flex;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}
.row{
    max-width: 25%;
    position: relative;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    display: flex;
    width: 285px;
    flex-direction: column;
}
.row-img{
    width: 285px;
    margin-bottom: 16px;
}
.row h1{
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.row h2{
    margin-top: 0;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 24px;
}
.row a{
    color: #0067b8;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.row a:hover{
    text-decoration: underline;
}
.row-link{
    margin-bottom: 16px;
}
