<h2>Categories</h2>
<div style="margin: 10px 0">
    <ul>
        <li>
                <a href="" [routerLink]="['/category', 1]">Phones</a>
        </li>
        <li>
                <a href="" [routerLink]="['/category', 2]">Games for ps</a>
        </li>
        <li>
                <a href="" [routerLink]="['/category', 3]">Games for Xbox</a>
        </li>
        <li>
                <a href="" [routerLink]="['/category', 4]">Vidio cards</a>
        </li>
        <li>
                <a href="" [routerLink]="['/category', 5]">Monitors</a>    
        </li>
    </ul>

</div>